@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
      font-family: 'Inter', sans-serif;
}

html,
body {
      width: 100%;
      height: 100%;
}

/* .testomoial__card { */

/* Layout */

/* display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;

      padding: 12px;

      width: fit-content; */

/* Style */

/* border-radius: 10px;
      background: #FFF;
      box-shadow: 0px 2.28395px 66.80541px 0px rgba(0, 0, 0, 0.15);

      >img {
            border-radius: 50%;
            border: 1px solid #000;
      }

      .client__name {
            color: #000;
            text-align: center;

            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
      }

      .client__location {
            color: #989898;
            text-align: center;

            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
      } */
/* } */

.paragraph {

      max-width: 240px;

      color: #000;

      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
}